{% extends "layout/index.html" %}
{% block title %}
Profil
{% endblock %}

{% block content %}

<div class="ui list">
    <div class="item">
        <i class="users icon"></i>
        <div class="content">
            {{ current_user.username }}
        </div>
    </div>
    <!-- <div class="item">
      <i class="marker icon"></i>
      <div class="content">
        New York, NY
      </div>
    </div> -->
    <div class="item">
        <i class="mail icon"></i>
        <div class="content">
            <a href="mailto:jack@semantic-ui.com">{{current_user.email}}</a>
        </div>
    </div>
    <div class="item">
        <i class="linkify icon"></i>
        <div class="content">
            <a href="http://www.semantic-ui.com">semantic-ui.com</a>
        </div>
    </div>
</div>
{% endblock %}